.wrap{
	background: yellow;
}
 
/*bagian header*/
.wrap .header{
	background: lime;
}
 
/*akhir header*/
 
/*bagian menu*/
.wrap .menu{
	background: yellow;
}
.badan{
	height: 450px;
}
/*bagian sidebar*/
.wrap .badan .sidebar{
	background: orange;
	float: left;	
	width: 20%;
	height: 100%;
}
 
/*akhir sidebar*/
 
.wrap .badan .content{
	background: red;
	float: left;
	height: 100%;
	width: 80%;	
}
 
.wrap .footer{
	width: 100%;
}